<p>search works!</p>
<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista">
    </div>
</div>
<br>
<div class="row">
    <div class="col-3 mb-4" *ngFor="let artist of artists">
        <div class="card border-secondary" style="min-height: auto;">
            <img class="card-img-top" [src]="artist.images[0].url">
            <div class="card-body text-secondary">
                <h5 class="card-title">{{artist.name}}</h5>
            </div>
        </div>
    </div>
</div>